In [1]:
import pandas as pd

In [2]:
# import data
df = pd.read_csv('/Users/agneslu/Desktop/neighborhood-data/data-new/internet/ACSDT5Y2023.B28011-Data.csv')
df.head(3)

,GEO_ID,NAME,B28011_001E,B28011_001M,B28011_002E,B28011_002M,B28011_003E,B28011_003M,B28011_004E,B28011_004M,B28011_005E,B28011_005M,B28011_006E,B28011_006M,B28011_007E,B28011_007M,B28011_008E,B28011_008M,Unnamed: 18
0,Geography,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!With an Internet subscription,Margin of Error!!Total:!!With an Internet subs...,Estimate!!Total:!!With an Internet subscriptio...,Margin of Error!!Total:!!With an Internet subs...,Estimate!!Total:!!With an Internet subscriptio...,Margin of Error!!Total:!!With an Internet subs...,Estimate!!Total:!!With an Internet subscriptio...,Margin of Error!!Total:!!With an Internet subs...,Estimate!!Total:!!With an Internet subscriptio...,Margin of Error!!Total:!!With an Internet subs...,Estimate!!Total:!!Internet access without a su...,Margin of Error!!Total:!!Internet access witho...,Estimate!!Total:!!No Internet access,Margin of Error!!Total:!!No Internet access,NaN
1,1400000US06075010101,Census Tract 101.01; San Francisco County; Cal...,1212,143,994,132,0,14,894,125,76,60,0,14,46,70,172,86,NaN
2,1400000US06075010102,Census Tract 101.02; San Francisco County; Cal...,907,200,790,147,0,14,695,148,62,47,48,46,117,161,0,14,NaN

In [3]:
# drop the first column
df = df.drop(df.columns[0], axis=1)
df.head(3)

,NAME,B28011_001E,B28011_001M,B28011_002E,B28011_002M,B28011_003E,B28011_003M,B28011_004E,B28011_004M,B28011_005E,B28011_005M,B28011_006E,B28011_006M,B28011_007E,B28011_007M,B28011_008E,B28011_008M,Unnamed: 18
0,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!With an Internet subscription,Margin of Error!!Total:!!With an Internet subs...,Estimate!!Total:!!With an Internet subscriptio...,Margin of Error!!Total:!!With an Internet subs...,Estimate!!Total:!!With an Internet subscriptio...,Margin of Error!!Total:!!With an Internet subs...,Estimate!!Total:!!With an Internet subscriptio...,Margin of Error!!Total:!!With an Internet subs...,Estimate!!Total:!!With an Internet subscriptio...,Margin of Error!!Total:!!With an Internet subs...,Estimate!!Total:!!Internet access without a su...,Margin of Error!!Total:!!Internet access witho...,Estimate!!Total:!!No Internet access,Margin of Error!!Total:!!No Internet access,NaN
1,Census Tract 101.01; San Francisco County; Cal...,1212,143,994,132,0,14,894,125,76,60,0,14,46,70,172,86,NaN
2,Census Tract 101.02; San Francisco County; Cal...,907,200,790,147,0,14,695,148,62,47,48,46,117,161,0,14,NaN

In [4]:
# change NAME to Area
df = df.rename(columns={'NAME': 'Area'})
df.head(3)

,Area,B28011_001E,B28011_001M,B28011_002E,B28011_002M,B28011_003E,B28011_003M,B28011_004E,B28011_004M,B28011_005E,B28011_005M,B28011_006E,B28011_006M,B28011_007E,B28011_007M,B28011_008E,B28011_008M,Unnamed: 18
0,Geographic Area Name,Estimate!!Total:,Margin of Error!!Total:,Estimate!!Total:!!With an Internet subscription,Margin of Error!!Total:!!With an Internet subs...,Estimate!!Total:!!With an Internet subscriptio...,Margin of Error!!Total:!!With an Internet subs...,Estimate!!Total:!!With an Internet subscriptio...,Margin of Error!!Total:!!With an Internet subs...,Estimate!!Total:!!With an Internet subscriptio...,Margin of Error!!Total:!!With an Internet subs...,Estimate!!Total:!!With an Internet subscriptio...,Margin of Error!!Total:!!With an Internet subs...,Estimate!!Total:!!Internet access without a su...,Margin of Error!!Total:!!Internet access witho...,Estimate!!Total:!!No Internet access,Margin of Error!!Total:!!No Internet access,NaN
1,Census Tract 101.01; San Francisco County; Cal...,1212,143,994,132,0,14,894,125,76,60,0,14,46,70,172,86,NaN
2,Census Tract 101.02; San Francisco County; Cal...,907,200,790,147,0,14,695,148,62,47,48,46,117,161,0,14,NaN

In [5]:
# drop the margin columns
df = df[df.columns.drop(list(df.filter(regex='M')))]
df.head(3)

,Area,B28011_001E,B28011_002E,B28011_003E,B28011_004E,B28011_005E,B28011_006E,B28011_007E,B28011_008E,Unnamed: 18
0,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!With an Internet subscription,Estimate!!Total:!!With an Internet subscriptio...,Estimate!!Total:!!With an Internet subscriptio...,Estimate!!Total:!!With an Internet subscriptio...,Estimate!!Total:!!With an Internet subscriptio...,Estimate!!Total:!!Internet access without a su...,Estimate!!Total:!!No Internet access,NaN
1,Census Tract 101.01; San Francisco County; Cal...,1212,994,0,894,76,0,46,172,NaN
2,Census Tract 101.02; San Francisco County; Cal...,907,790,0,695,62,48,117,0,NaN

In [6]:
# drop the last column, the header is NaN
df = df.drop(df.columns[-1], axis=1)
df.head(3)

,Area,B28011_001E,B28011_002E,B28011_003E,B28011_004E,B28011_005E,B28011_006E,B28011_007E,B28011_008E
0,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!With an Internet subscription,Estimate!!Total:!!With an Internet subscriptio...,Estimate!!Total:!!With an Internet subscriptio...,Estimate!!Total:!!With an Internet subscriptio...,Estimate!!Total:!!With an Internet subscriptio...,Estimate!!Total:!!Internet access without a su...,Estimate!!Total:!!No Internet access
1,Census Tract 101.01; San Francisco County; Cal...,1212,994,0,894,76,0,46,172
2,Census Tract 101.02; San Francisco County; Cal...,907,790,0,695,62,48,117,0

In [7]:
# rename columns
column_mapping = {}
for i, col in enumerate(df.columns):
    if i < len(df.iloc[0]):  # Make sure we don't go out of bounds
        column_mapping[col] = df.iloc[0, i]

df = df.rename(columns=column_mapping)
df.head(3)

,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!With an Internet subscription,Estimate!!Total:!!With an Internet subscription!!Dial-up alone,"Estimate!!Total:!!With an Internet subscription!!Broadband such as cable, fiber optic, or DSL",Estimate!!Total:!!With an Internet subscription!!Satellite Internet service,Estimate!!Total:!!With an Internet subscription!!Other service,Estimate!!Total:!!Internet access without a subscription,Estimate!!Total:!!No Internet access
0,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!With an Internet subscription,Estimate!!Total:!!With an Internet subscriptio...,Estimate!!Total:!!With an Internet subscriptio...,Estimate!!Total:!!With an Internet subscriptio...,Estimate!!Total:!!With an Internet subscriptio...,Estimate!!Total:!!Internet access without a su...,Estimate!!Total:!!No Internet access
1,Census Tract 101.01; San Francisco County; Cal...,1212,994,0,894,76,0,46,172
2,Census Tract 101.02; San Francisco County; Cal...,907,790,0,695,62,48,117,0

In [8]:
# remove the first row
df = df.drop(df.index[0])  
df = df.reset_index(drop=True)
df.head(3)

,Geographic Area Name,Estimate!!Total:,Estimate!!Total:!!With an Internet subscription,Estimate!!Total:!!With an Internet subscription!!Dial-up alone,"Estimate!!Total:!!With an Internet subscription!!Broadband such as cable, fiber optic, or DSL",Estimate!!Total:!!With an Internet subscription!!Satellite Internet service,Estimate!!Total:!!With an Internet subscription!!Other service,Estimate!!Total:!!Internet access without a subscription,Estimate!!Total:!!No Internet access
0,Census Tract 101.01; San Francisco County; Cal...,1212,994,0,894,76,0,46,172
1,Census Tract 101.02; San Francisco County; Cal...,907,790,0,695,62,48,117,0
2,Census Tract 102.01; San Francisco County; Cal...,1375,1298,13,1264,22,11,71,6

In [9]:
# change Geographic Area Name to Area
df = df.rename(columns={'Geographic Area Name': 'Area'})

In [10]:
# only keep numbers for the area column
df['Area'] = df['Area'].str.replace(r'.*Census Tract\s+', '', regex=True)  # remove everything before tract number
df['Area'] = df['Area'].str.replace(r';.*', '', regex=True)  # remove everything after semicolon
df['Area'] = df['Area'].str.strip()  # remove any extra whitespace
df.head(3)

,Area,Estimate!!Total:,Estimate!!Total:!!With an Internet subscription,Estimate!!Total:!!With an Internet subscription!!Dial-up alone,"Estimate!!Total:!!With an Internet subscription!!Broadband such as cable, fiber optic, or DSL",Estimate!!Total:!!With an Internet subscription!!Satellite Internet service,Estimate!!Total:!!With an Internet subscription!!Other service,Estimate!!Total:!!Internet access without a subscription,Estimate!!Total:!!No Internet access
0,101.01,1212,994,0,894,76,0,46,172
1,101.02,907,790,0,695,62,48,117,0
2,102.01,1375,1298,13,1264,22,11,71,6

In [11]:
# get rid of Estimate!!Total:!! in column names
df.columns = df.columns.str.replace('Estimate!!Total:!!', '', regex=True)
df.head(3)

,Area,Estimate!!Total:,With an Internet subscription,With an Internet subscription!!Dial-up alone,"With an Internet subscription!!Broadband such as cable, fiber optic, or DSL",With an Internet subscription!!Satellite Internet service,With an Internet subscription!!Other service,Internet access without a subscription,No Internet access
0,101.01,1212,994,0,894,76,0,46,172
1,101.02,907,790,0,695,62,48,117,0
2,102.01,1375,1298,13,1264,22,11,71,6

In [12]:
# keep only the columns that we need
columns_to_keep = ['Area', 'Estimate!!Total:', 'With an Internet subscription', 
                   'Internet access without a subscription', 
                   'No Internet access']
df = df[columns_to_keep]
df.head(3)

,Area,Estimate!!Total:,With an Internet subscription,Internet access without a subscription,No Internet access
0,101.01,1212,994,46,172
1,101.02,907,790,117,0
2,102.01,1375,1298,71,6

In [13]:
# change estimate total column name to Total
df = df.rename(columns={'Estimate!!Total:': 'Total'})
df.head(3)

,Area,Total,With an Internet subscription,Internet access without a subscription,No Internet access
0,101.01,1212,994,46,172
1,101.02,907,790,117,0
2,102.01,1375,1298,71,6

In [14]:
# convert numeric columns to proper data types
numeric_columns = ['Total', 'With an Internet subscription', 'Internet access without a subscription', 'No Internet access']
df[numeric_columns] = df[numeric_columns].apply(pd.to_numeric, errors='coerce')

# create the dictionary in the format you want
result_dict = {
    'internet with subscription': df.set_index('Area')['With an Internet subscription'].to_dict(),
    'internet without subscription': df.set_index('Area')['Internet access without a subscription'].to_dict(), 
    'no internet': df.set_index('Area')['No Internet access'].to_dict(),
    'total': df.set_index('Area')['Total'].to_dict()
}

# convert to JSON and save to file
import json

with open('/Users/agneslu/Desktop/neighborhood-data/data-new/internet.json', 'w') as f:
    json.dump(result_dict, f, indent=2)

print("JSON file saved as 'internet.json'")

JSON file saved as 'internet.json'